body {
  background-color: #FDEEDC;
  font-family: 'Rubik', sans-serif;
  
  }
  
  h1{
    color: #E38B29
  }
 
  
  /* CSS */
  .button-1 {
    background-color: #F1A661;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-1:hover{
    background-color: #E38B29;
  }
  /************** HEADER ******************/
  .header {
    margin: auto;
    width: 50%;
    text-align: center;
  }
  
  .toolkitImg {
    width: 50px;
    transform: rotate(15deg);
    position: relative;
    top: 10px;
  }
  
  a:link { text-decoration: none; }
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none; }
  a:active { text-decoration: none; }
  a{
    color: #E38B29
  }
  
  
  
  /************** HOMEPAGE ***************/
  
  .homepage{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  
  }
  
  .timerDiv {
    display: flex;
    width: 150px;
    height:200px;
    margin: 20px;
    font-size: 30;
    text-align: center;
  
  }
  
  .diceDiv {
    display: flex;
    width: 150px;
    height:200px;
    margin: 20px;
    font-size: 30;
    text-align: center;
    }
  
   .spinTheWheelDiv {
    display: flex;
    width: 150px;
    height: 200px;
    margin: 20px;
    font-size: 30;
    text-align: center;
    }
  
    .img:hover {
      transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
  
  
    /**** Footer *******/
    .footer{
      display: flex;
      width: 100%;
      font-size: 8px;
      text-align: center;
      margin-top: 150px;
    }
    .footerA{
      color: #FFD8A9;
    }
    
    /******* Dice home page ***********/
  
    .dicePage {
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    }
  
    .buttonDiv{
      width: 100%;
      height: auto;
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: wrap;
  
    }
  
    .diceButton {
      margin:auto;
  
    
    }
  
    /*******  Dice rolling pages  *********/
  
    .rollDiceButtonDiv {
      display:flex;
      height: auto;
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: wrap;
      margin-top: 30px;
   
  
    }
  
    .diceRolling{
      width: 100%;
      height: auto;
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: wrap;
      margin-left:20%;
      margin-right:20%;
    }
  
    .twoDiceRolling{
      width: 100%;
      height: auto;
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: wrap;
      margin-left:31%;
      margin-right:31%;
      
  
    }
  
    .diceOne{
      margin-top:20px;
  
    }
  
    /******   Timer      ********/
      .clock {
        position: relative;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 180px;
        width: 350px;
        border-radius: 15px;
        border: 2px solid silver;
        box-shadow: 0 0 5px 25 px;
      }
  
      .clock section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
  
      }
  
      .clock section p{
        font-size: 4rem;
      }
      .clock section small{
        color: silver
      
      }
  
     
  
     /************   TIMER USER INPUT COMPONENT  ******************/ 
      .userInputTimerDiv{
        width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
      }
     
  
      .secondsLabel{
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
        text-align: center;
        margin: 20px;
      }
  
      .minutesLabel{
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
        text-align: center;
        margin: 20px;
      }
  
      .setTimeButtonDiv{
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
        text-align: center;
        margin: 20px;
        padding: 20px;
      }
  
      .startCountdownButton{
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
        text-align: center;
        margin: 50px;
      }
  
  /***********RANDOM GEN PAGE*****************/
  
 .app{
  width: 100%;
  height: auto;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
  
  }

  .randomNamesList{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
   /* height: 180px;*/
    width: 200px;
    border-radius: 15px;
    border: 2px solid silver;
    box-shadow: 0 0 5px 25 px;
    flex-direction: column ;
    
    flex-flow: wrap;
    margin-right: 30px;
  

  }

  .enterStudentName{
    margin: auto;
    
  }

  .RandomStudentButtonAppDiv{

  }
  .delButton {
   /* overflow: hidden;*/
    position: relative;
    border: none;
    padding: 0;
    width: 2em; height: 2em;
    border-radius: 50%;
    background: transparent;
    color: #030303;
    font: inherit;
    text-indent: 100%;
    cursor: pointer;
    opacity: 0.4;
   font-size: 6px;
  }

  

  /****RANDOM STUDNET PAGE***/
  .RandomStudentButtonDiv{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-top: 30px;

  }
 
  .randomStudentResultDiv{
    position: relative;
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 350px;
    border-radius: 15px;
    border: 2px solid silver;
    box-shadow: 0 0 5px 25 px;
    margin-left: 30px;
  }

  .resultP{
    position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;

   
  }

    /* @media (768px){
        .diceDiv {
          width:90%;
          background-color: pink;
        }
        .timerDiv {
          width:90%;
        }
        .spinTheWheelDiv {
          width:90%;
        }}
    
  
    @media (min-width:768px){
      .diceDiv {
        width:90%;
      }
      .timerDiv {
        width:90%;
      }
      .spinTheWheelDiv {
        width:90%;
      }}
  
    @media (min-width:1200px){
    .diceDiv {
      width:40%;
      background-color: blue;
    }
    .timerDiv {
      width:40%;
    }
    .spinTheWheelDiv {
      width:40%;
    }}
     */
      